# **Basic of print() function**

---

In [ ]:
print('Hello Python! This is me trying to learn you!!')

Hello Python! This is me trying to learn you!!

In [ ]:
print('To,\nMahbubul Haq Bhuiyan, Adjunct Lecturer,\nCSC101L Course Instructor,\nDeprtment of CSE, IUB.')

To,
Mahbubul Haq Bhuiyan, Adjunct Lecturer,
CSC101L Course Instructor,
Deprtment of CSE, IUB.

**Exercise 1: Print your full name and department name**

In [ ]:
print('sinthia mizan athoi ,cse')

sinthia mizan athoi ,cse

**Exercise 2: print your name, student id, email address, section and course id as follows**

my name:

student id:

email:

section:

course id:

In [ ]:
print('my name:athoi, \nstudent id:221 \nsection:3 ')

my name:athoi,
student id:221
section:3

#**Commenting the code**

---

Comment are the messages to describe what your code does and is good for understanding your code. It is not part of the code.

In [ ]:
#printing the name
print('My name is Mahbubul Haq Bhuiyan')
print('I am the faculty of this course') # defining the faculty responsibility

My name is Mahbubul Haq Bhuiyan
I am the faculty of this course

**Exercise: 3 Comment each line of the following code with appropriate message**

In [ ]:
print('Course name: Introduction to Programming') #......
print('Course code: CSC101L')
print('Semester: 1st')
print('Year: 1st')

Course name: Introduction to Programming
Course code: CSC101L
Semester: 1st
Year: 1st

#**Multi-line Comments**
---

Multi-line comments work same as single line comments, just here you can use multiple lines as comments without giving '#' before each line of commenets

In [ ]:

'''
multi-line comments check
check2
check3
Single ' works here
'''


print("hello ")
"""
multi-line comments check
check2
check3
Double " works here
"""

print("Hi")

hello
Hi

In [ ]:
'''
abcd
efgh
hijk
'''
print('athoi')

athoi

**Exercise:4 Add Multi-line comments for the code below**

In [ ]:

print("Hello world!")
print("I am Mr. X!")
print("I am learning python")

Hello world!
I am Mr. X!
I am learning python

#**Multi-line printing (single, double and tripple quotation)**

---

In [ ]:
#Single quation for single line text printing
print('This is Mahbubul Haq Bhuiyan. Currently working as an Adjunct Lecturer, Department of CSE, Indepenedent University, Bangladesh')

#Double quotation has the same purpose as of the single quotation
print("This is Mahbubul Haq Bhuiyan. Currently working as an Adjunct Lecturer, Department of CSE, Indepenedent University, Bangladesh")

This is Mahbubul Haq Bhuiyan. Currently working as an Adjunct Lecturer, Department of CSE, Indepenedent University, Bangladesh
This is Mahbubul Haq Bhuiyan. Currently working as an Adjunct Lecturer, Department of CSE, Indepenedent University, Bangladesh

In [ ]:
#Tripple quotation are used for MULTI line printing
print('''This is Mahbubul Haq Bhuiyan.
Currently working as an Adjunct Lecturer,
Department of CSE,
Indepenedent University, Bangladesh''')

This is Mahbubul Haq Bhuiyan.
Currently working as an Adjunct Lecturer,
Department of CSE,
Indepenedent University, Bangladesh

**Exercise: 5 Print the following multiline message using single print statement with triple '''**

Hard work pays off.

The harder you work, the more people will notice.

– Sydney Sweeney

In [ ]:
print('''Hard work pays off.

The harder you work, the more people will notice.

– Sydney Sweeney

''')

Hard work pays off.

The harder you work, the more people will notice.

– Sydney Sweeney

#**Variables**

---



Variables are nothing but reserved memory locations to store values.

In [ ]:
name = 'Mahbubul Haq Bhuiyan'               #name is a variable that stores the text 'Mahbubul Haq Bhuiyan'
id = 1234                             #id is a variable that stores the number 1234
email = "mh_bhuiyan.sets@iub.edu.bd"    #email is a variable that stores 'mh_bhuiyan.sets@iub.edu.bd'

# NOTE! There is no quotation marks for the variables in print statement
# print each of the variable values
print(name)
print(id)
print(email)

Mahbubul Haq Bhuiyan
1234
mh_bhuiyan.sets@iub.edu.bd

In [ ]:
name = 'Mahbubul Haq Bhuiyan'               #name is a variable that stores the text 'Mahbubul Haq Bhuiyan'
id = 1234                             #id is a variable that stores the number 1234
email = "mh_bhuiyan.sets@iub.edu.bd"    #email is a variable that stores 'mh_bhuiyan.sets@iub.edu.bd'

# NOTE! There is no quotation marks for the variables in print statement

# print multiple variables in single print statement
print(name, id, email)

print(name,',',id,',',email)

print(name,'\n',id,'\n',email)

print('Your name: ', name, '\nYour id: ', id,'\nYour email: ', email)

Mahbubul Haq Bhuiyan 1234 mh_bhuiyan.sets@iub.edu.bd
Mahbubul Haq Bhuiyan , 1234 , mh_bhuiyan.sets@iub.edu.bd
Mahbubul Haq Bhuiyan
 1234
 mh_bhuiyan.sets@iub.edu.bd
Your name:  Mahbubul Haq Bhuiyan
Your id:  1234
Your email:  mh_bhuiyan.sets@iub.edu.bd
Mahbubul Haq Bhuiyan,1234,mh_bhuiyan.sets@iub.edu.bd

**Exercise 6: use five variables to store your name, student id, email address, section and course id and then print them using five print() statements**

In [ ]:
name= 'athoi'
id=122
email ='sinthiaathoi@gmail.com'
section=3
courseid=12
print('My name',name)
print(id)
print(email)
print(section)
print(courseid)

My name athoi
122
sinthiaathoi@gmail.com
3
12

**Exercise 7: use three variables to store your student id, course name, CGPA and then print them using single print() statement. The print will be exactly is follows:**

Student id:

Course name:

Student CGPA:

In [ ]:
# Variables means one word only

student_id= 123
course_name= 'cse101'
student_cgpa=3
print('student id:',student_id,'\ncourse name:',course_name,'\nstudent cgpa:',student_cgpa)

student id: 123
course name: cse101
student cgpa: 3

**Assigning value to multiple variables**

In [ ]:
# Python allows you to assign a single value to several variables simultaneously
a = b = c = 1
print('a = ', a, 'b = ', b, 'c = ', c)

a =  1 b =  1 c =  1

In [ ]:
# You can also assign multiple values to multiple variables
a, b, c = 1, 12.34, 'Jems Bond 420'

print('a = ', a)
print('b = ', b)
print('c = ', c)

a =  1
b =  12.34
c =  Jems Bond 420

**Exercise 8: Using a single assignment operator assign the values 7, 8.91, 'Jonny Jonny Yes Pappa' and 'This is 2023 Summer' to 4 different variables. Then print their values.**

#**Formatting printing using print() function**

---

**Formatting Option: 1**

In [ ]:
name = 'Mustafa'
id = 420
print("Welcome %s with id %d to the class" %(name,id))

Welcome Mustafa with id 420 to the class

**Formatting Option: 2**

In [ ]:
name = 'Mustafa'
id = 420
print("Welcome {} with id {} to the class".format(name,id))

Welcome Mustafa with id 420 to the class

**Formatting Option: 3**

In [ ]:
name = 'Mustafa'
id = 420
print(f"Welcome {name} with id {id} to the class")

Welcome Mustafa with id 420 to the class

**Exercise 9: print the following using Formatting option 1**

In [ ]:
name = 'Jems Bond'
id = 420
email = '420@com'

# print the following message using Formatting option 1: Hello, Jems Bond. Your id is: 420 and email is 420@com. Welcome to the club!

**Exercise 10: print the following using Formatting option 2**

In [ ]:
name = 'Jems Bond'
id = 420
email = '420@com'

# print the following message using Formatting option 2: Hello, Jems Bond. Your id is: 420 and email is 420@com. Welcome to the club!

**Exercise 11: print the following using Formatting option 3**

In [ ]:
name = 'Jems Bond'
id = 420
email = '420@com'

# print the following message using Formatting option 3: Hello, Jems Bond. Your id is: 420 and email is 420@com. Welcome to the club!

#**Types of Variables**

---

Python has five standard data types-


1.   Numbers: Integer, Float, Complex
2.   String
3. List
4.  Tuple
5. Set
6. Dictionary

In [ ]:
# Numbers
x = 1234   # integer
y = 12.45  # float
z = 3+6j  # complex

# String : written within quotation marks

a = 'This is a string'
b = '1234'
c = 'I have a case with no: 123456'

print(x)
print(y)
print(z)

print(a)
print(b)
print(c)

1234
12.45
(3+6j)
This is a string
1234
I have a case with no: 123456

**Exercise 12: declare one integer, one string and one float variable, and then print their values**

In [ ]:
a=('1')
b=str('athoi')
print(a,b)

1 athoi

**Checking the type of the variable in program**

---

In [ ]:
# Numbers
x = 1234   # integer
y = 12.45  # float
z = 3+6j  # complex

# Sring : written within quotation marks

a = 'This is a string'
b = '1234'
c = 'I have a case with no: 123456'

print(type(x))
print(type(y))
print(type(z))
print(type(a))
print()

print('x = ', x, 'type of x is: ', type(x))
print('y = ', y, 'type of y is: ', type(y))
print('b = ', b, 'type of b is: ', type(b))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

x =  1234 type of x is:  <class 'int'>
y =  12.45 type of y is:  <class 'float'>
b =  1234 type of b is:  <class 'str'>

**Exercise 13: declare four variables of four different types.**

**Then print their values and data types.**

In [ ]:
#boolean

a=bool(0)
b=1
c=3.5
d='sdf'

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

False <class 'bool'>
1 <class 'int'>
3.5 <class 'float'>
sdf <class 'str'>

**Exercise 14: For the following variables check and print their data types**

In [ ]:
name = 'My name is Khan'
CGPA = 3.768
age = 34
j=5
w = -.7+7j
print(w,type(w))

# Print the datatype for name

# Print the datatype for CGPA

# Print the datatype for age

# Print the datatype for w

(-0.7+7j) <class 'complex'>

# **User Input**

---

*   *input('Prompt')* function is used to take input from the user.
*   User input is always stored in a variable.

In [ ]:
name = input('Enter your name: ') # input() function displaying prompt 'Enter your name:' and wait for a user input
                                  # While user enters the value and press enter, the value is stored in the 'name' variable
print(type(name))                       # print the variable value

Enter your name: 5
<class 'str'>

**Exercise: 15**


1.   Prompt user to enter their email address and phone number as input.
2.   Take the inputs in two variables name 'user_email' and 'user_phone'
3.   Print the two variable using two print functions.

In [ ]:
user_email=input('enter your email:')
user_phone=input('enter your phone number:')
print(user_email)
print(user_phone)

enter your emailgvb@tft.com
enter your phone number9008
gvb@tft.com
9008

**Exercise: 16**


1.   Take two numbers as input from the user and store them in two variables, a and b.
2.   Add the two numbers and store the result in another varibale c (i.e., c = a + b)
3.   Print the result formatteed as follows: a + b = c

In [ ]:
a=2
b=4
c=a+b
print(a,'+',b,'=',c)

2 + 4 = 6

**Did you Notice any issues with the above program!!**

In python all inputs are taken as **string** type.

You need to convert them to other data types explicitly.

In [ ]:
num1 = input('Enter Number 1: ')
num2 = input('Enter Number 2: ')

# check the type of num1 and num2
print(f'{num1} type is: {type(num1)}\n{num2} type is: {type(num2)}')

# convert both the variables into integer using int() function
num1 = int(num1)
num2 = int(num2)

# check the type of num1 and num2
print(f'{num1} type is: {type(num1)}\n{num2} type is: {type(num2)}')

# add the two numbers and print the result
add = num1 + num2

print(f'{num1} + {num2} = {add}')

Enter Number 1: 5
Enter Number 2: 19
5 type is: <class 'str'>
19 type is: <class 'str'>
5 type is: <class 'int'>
19 type is: <class 'int'>
5 + 19 = 24

**Automatic Type conversion**
Data types are auto converted to the upper types while doing artihmetic operations.

In [ ]:
a = 23.4   # type of a is float
b = 16     # type of b is int

c = a + b  # adding one float and one int number. so what will be the type of c? float or int?

print(f'{a} type is: {type(a)}')
print(f'{b} type is: {type(b)}')
print(f'{c} type is: {type(c)}')

a = 'I am Bond' # type of a is string
b = 420         # type of b is int

c = a + b       # what will be the type of c??

23.4 type is: <class 'float'>
16 type is: <class 'int'>
39.4 type is: <class 'float'>

TypeError: ignored

# **Lesson Exercise**

---

**Exercise: 17**
Get the following information from user and Print out your full name, your semester, your ID number, your hobby and your favorite movie name. All of the information should be in separate lines and should appear formatted like below:

Full name: ……………

ID: …………..

Semester: …………

Hobby: …………..

Favorite movie: …………..

OUTPUT
Your name is ……………

Your ID is ………

Your semester is …………

Your hobby is …………

Your favorite movie is …………..

In [ ]:
Full_Name=input('Full Name:')
ID=input('ID:')
Semester=input('Semester:')
Hobby=input('Hobby:')
Favorite_movie=input('Favorite movie:')
# Output
print('your name is {}\nYour ID is {}\nYour semester is{}\nYour hobby is{}\nYour favorite movie is{} '.format(Full_Name,ID,Semester,Hobby,Favorite_movie))

Full Name:kmk
ID:909
Semester:ko
Hobby:ghg
Favorite movie:jhhj
your name is kmk
Your ID is 909
Your semester isko
Your hobby isghg
Your favorite movie isjhhj

**Exercise: 18**
Take input from user their name, address, email and phone number. Then print the information on the screen. Following is the sample input and output:

Name: Mahbubul Haq Bhuiyan

Address: Dohs, Mirpur

Email: xyz@gmail.com

Phone: 12345678

Your information is as follows:

Hello Mahbubul Haq! Your address is: Dohs, Mirpur. You will receive a confirmation email at: xyz@gmail.com and a message to your registered mobile number (12345678).

In [ ]:
Name=input('name')
address=input('address')
email=input('email')
phone=input('phone')
print("Hello {}! Your address is:{}. You will receive a confirmation email at:{} and a message to your registered mobile number{}".format(Name,address, email,phone))

namesrhhyy
addressguujhjj
emailathoi@gail.com
phone90854434
Hello srhhyy! Your address is:guujhjj. You will receive a confirmation email at:athoi@gail.com and a message to your registered mobile number90854434

# **Using .2f formatting**

In [ ]:
x = 35
y = 45
z = x/y
#using .2f to limit the values after '.'
#print(f'{x} / {y} is: {x/y:.2f}')
#print(f'{x} / {y} is: {z:.2f}')
print("x/y is: {0:.2f}".format(z))
#print(z)

x/y is: 0.78

**Exercise: 19** Make a simple calculator for two numbers. Take two numbers as input from the user and print the result of simple arithmetic between them.
Following is the simple input and output.

Enter Two numbers..

Enter number 1: 35

Enter number 2: 45

Addition (35 + 45) = 80

Subtraction (35 - 45) = -10

Division (35 / 45) = .778

Multiplication (35 * 45) = 1575

In [ ]:
num1=int(input('enter your number 1:'))
num2=int(input('enter your number 2:' ))
addition=num1+num2
subtraction=num1-num2
division=num1/num2
multiplication=num1*num2

print('addition',addition)
print('subtraction',subtraction)
print('division {0:.2f}'.format(division))
print('multiplication',multiplication)

enter your number 1:54
enter your number 2:34
addition 88
subtraction 20
division 1.59
multiplication 1836