# **Tuple**

**A tuple is a collection which is ordered and unchangeable.**

---

In [ ]:
# declare a tuple

thistuple = ("mpple", "banana", "cherry")
print(thistuple)
print(len(thistuple))

print()
mytuple = tuple([1,2,3,100])
print(mytuple)

('mpple', 'banana', 'cherry')
3

(1, 2, 3)

**Ordered**

---



When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

In [ ]:
thistuple = ("apple", "banana", "cherry")

#can index over the tuple as it is ordered
print(thistuple[0])
print(thistuple[2])

i = 0
while i < len(thistuple):
  print(thistuple[i])
  i+=1

#can use for loop to access the items
for i in thistuple:
  print(i)

apple
cherry
apple
banana
cherry
apple
banana
cherry

**Unchangeable**

---



Tuples are unchangeable, meaning that we **cannot change**, **add or remove** items after the tuple has been created.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

#cannot remove items
#thistuple.remove("banana")
#print(thistuple)

# cannot add new items
thistuple.add("pineapple")
print(thistuple)

# cant change the items.
#thistuple[1] = 'mango'
#print(thistuple)

('apple', 'banana', 'cherry')

AttributeError: ignored

**Allow Duplicates**

---

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')