# **Sets**

**A set is a collection which is unordered, unchangeable, and unindexed.**

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

**set items are Unordered**

---



Unordered means that the items in a set do not have a defined order. Set items can appear in a different order every time you use them, and **cannot be referred to by index or key.**

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
thisset.add('mango')
print(thisset)
thisset.add('watermelon')
print(thisset)

{'apple', 'cherry', 'banana'}
{'apple', 'cherry', 'mango', 'banana'}
{'apple', 'banana', 'cherry', 'watermelon', 'mango'}

**Unchangeable**

---



Set items are unchangeable, meaning that we cannot change the items after the set has been created.

*but you can remove items and add new items.*

In [ ]:
# add items to the set
thisset = {"apple", "banana", "cherry"}
print('thisset: ', thisset)
print('size: ', len(thisset))

thisset.add("orange")
print('thisset after adding: ', thisset)
print('size: ', len(thisset))

print()
#merge sets
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print('thisset after merging with tropical: ', thisset)
print('size: ', len(thisset))

print()
#add any iterables (list or tuple) with the sets
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print('thisset after merging with mylist: ', thisset)
print('size: ', len(thisset))

print()
#remove items
thisset.remove("banana")
print('thisset after removing banana: ', thisset)
print('size: ', len(thisset))

thisset:  {'cherry', 'banana', 'apple'}
size:  3
thisset after adding:  {'cherry', 'orange', 'banana', 'apple'}
size:  4

thisset after merging with tropical:  {'cherry', 'apple', 'mango', 'papaya', 'orange', 'pineapple', 'banana'}
size:  7

thisset after merging with mylist:  {'cherry', 'apple', 'mango', 'kiwi', 'papaya', 'orange', 'pineapple', 'banana'}
size:  8

thisset after removing banana:  {'cherry', 'apple', 'mango', 'kiwi', 'papaya', 'orange', 'pineapple'}
size:  7

**Duplicates Not Allowed**

---



Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
print('thisset (apple is added only once): ', thisset)
print('size: ', len(thisset))

print()
myList = ['tea', 'coffee', 'tea', 'water']
thisset.update(myList)

print('thisset after merging with myList: ', thisset)
print('size: ', len(thisset))

thisset (apple is added only once):  {'cherry', 'banana', 'apple'}
size:  3

thisset after merging with myList:  {'tea', 'apple', 'cherry', 'water', 'coffee', 'banana'}
size:  6

**How to access Set items**

---

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

**Exercise: 1 Can we access elements in a Set using while loop? Why or why not?**

**Exercise 2: Can we access elements in the Set with slicing operator? Why or Why not?**

**Exercise 3: What would be the output of the following program?**

thisSet = set([1,2,3,4,4,3,1,7,8])

print('thisSet: ', thisSet)

print('size: ', len(thisSet))

print()

myTuple = (4,8,8,9,6,6)

print('myTuple: ', myTuple)

print('size: ', len(myTuple))

print()

thisSet.update(myTuple)

print('thisSet: ', thisSet)

print('size: ', len(thisSet))

**Additional Resources**

https://www.w3schools.com/python/python_sets_methods.asp

https://www.w3schools.com/python/python_sets_exercises.asp